.sectionTwo .inner {
  max-width: 215em;
  width: calc(100% - 13em);
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.sectionOne .inner {
  max-width: 215em;
  width: calc(100% - 15rem);
  margin: 0 auto;
}
.sectionTwo {
  text-align: center;
  padding-bottom: 65px;
  background-color: white;
}
.sectionTitleTypeOne {
  font-size: 26px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
}

.sectionContentTypeOne {
  font-size: 16px;
  margin-top: 15px;
  text-align: justify;
}

.sectionOne {
  font-family: NSimSun;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 65px;
}
.sectionOne:last-child {
  padding-top: 0px;
}
.sectionTitle {
  font-size: 3rem;
  font-weight: bold;
  font-family: Microsoft JhengHei;
}
.sectionOne hr {
  height: 0.8em;
  background-color: gray;
  width: 19.5em;
  margin: 1rem 0 2.5rem;
}
.mainIntroduction {
  font-size: 2rem;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
  font-family: Microsoft JhengHei;
  text-align: justify;
}

@media (max-width: 818px) {
  .sectionTitle {
    font-size: 2.7rem;
  }
  .mainIntroduction{
      font-size: 1.8rem;
  }
  .sectionOne hr {
    width: 17em;
}
}
@media(max-width: 1117px){
    .sectionTitleTypeOne{
      font-size: 22px;
    }
    .sectionContentTypeOne{
      font-size: 13px;
    }
  }

  @media(max-width: 990px){
    .sectionTwo .inner{
      display: block;
      max-width: 600px;
    }
    .textTypeOne{
      margin: 30px 0 0;
    }
    .sectionContentTypeOne{
      font-size: 16px;
    }
    .sectionTitleTypeOne{
      font-size: 26px;
    }
  }

  @media (max-width: 740px) {
    .chinese-hero-text {
      font-size: 3.5rem !important;
    }
  }
  
  @media (max-width: 577px) {
    .chinese-hero-text {
      font-size: 2.2rem !important;
    }
    .english-hero-text{
      font-size: 2rem !important;
    }
    
  }
  
