.inner {
  max-width: 215em;
  width: calc(100% - 10em);
  margin: 0 auto;
}

.content {
    text-align: center;
    padding: 20px 0;
}

.picture{
    display: inline-block;
    width: 45%;
    margin: 10px 20px 20px;
}

.picture img{
    width: 100%;
}

.content p{
    text-align: left;
    font-size: 18px;
}

.hero-text{
    width: 70%;
}

@media (max-width:912px){
    .picture{
        width: 100%;
        margin: 10px 0 20px;
    }
}

@media (max-width:1067px){
    .chinese-hero-text{
        font-size: 4rem;
    }
}
@media (max-width:617px){
    .chinese-hero-text{
        font-size: 2.5rem;
    }
}