.inner {
  max-width: 215em;
  width: calc(100% - 15em);
  margin: 0 auto;
}

.content {
    text-align: center;
    padding: 20px 0;
}

.picture{
    display: inline-block;
    width: 45%;
    margin: 10px 20px 20px;
}

.picture img{
    width: 100%;
}

.content p{
    text-align: justify;
    font-size: 18px;
}

.hero-text{
    width: 70%;
}

.photoCredit{
    text-align: left;
    margin: 5px 0 0;
    font-size: 10px !important;
}

.annotation{
    font-size: 16px !important;
}

.text{
    padding: 0 35px;
}

.picContainer{
    display: inline-flex;
    justify-content: space-between;
}

.picContainer .picture:first-child{
    margin: 10px 0 20px 35px;
}
.picContainer .picture:last-child{
    margin: 10px 35px 20px 0;
}

@media (max-width:943px){
    .picture{
        width: 100%;
        margin: 10px 0 20px;
    }
    .picContainer{
        display: block;
    }
    .text{
        padding: 0;
    }
}

@media (max-width:1067px){
    .chinese-hero-text{
        font-size: 4rem;
    }
}
@media (max-width:617px){
    .chinese-hero-text{
        font-size: 2.5rem;
    }
}