  section {
    font-family: Microsoft JhengHei;
    background-color: white;
    text-align: center;
    padding-top: 80px;
  }

  section .inner {
    max-width: 215em;
    width: 80%;
    margin: 0 auto;
  }

  .borders{
      border-style: solid;
      border-width: 0.35rem;
      padding: 1.5rem 4rem;
      text-align: left;
      height: 100%;
      border-radius: 25px;
  }

  .boxTitle{
      font-size: 2.6rem;
      font-weight: bold;
  }

  .content{
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  #sectionThree{
    padding-bottom: 80px;
  }

  .content li div{
    font-size: 1.6rem;
  }

  #sectionTwo ul li{
    width: 117px;
    display: inline-block;
  }

  #sectionTwo ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .documentBtn{
    text-align: center;
    margin-bottom: 7px;
  }
  .fc .fc-button-group>*{
    height: auto;
  }
  .fc .fc-toolbar>*>* {
    height: auto;
}


  @media (max-width: 991.5px){
    #greenBox{
      margin-top: 80px;
      padding-left: 0;
    }

    #blueBox{
      padding-right: 0;
    }
  }

  @media (min-width:612px){

  }