@import url(font-awesome.min.css);

body,
html {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
}

#header.alt {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  height: 3.25em;
  line-height: 3.25em;
  position: absolute;
}

#header nav ul li ul li {
    list-style: none;
    display: list-item;
    width: 100%;
    margin-top: 0rem;
    margin-left: 0rem;
  }
  #header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 3.5rem;
    top: 0;
    vertical-align: middle;
  }
  #header nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  #header nav ul li {
    border-radius: 4px;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 2rem;
    padding-left: 0;
    color: #ddd;
    vertical-align: top;
  }

.indexBtn {
  position: absolute;
  left: 3.5rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  color: white;
}

.indexBtn:hover {
  color: white;
  text-decoration: none;
}

#header {
    background-color: #fff;
    border-bottom: solid 1px rgba(144, 144, 144, 0.25);
    box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.05);
    color: white;
    cursor: default;
    font-size: 2rem;
    height: 4.5em;
    left: 0;
    line-height: 4.4em;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10000;
    z-index: 10001;
    font-family: NSimSun;
  }

  #navigation li ul {
    margin: 0;
    display: none;
    position: absolute;
    white-space: nowrap;
  }
  
  #navigation li {
    text-align: center;
  }
  
  #navigation li:hover {
    color: white;
  }
  
  #navigation li:hover ul {
    display: block;
    background-color: #222;
  }
  .navBtn {
    color: #ddd;
    transition: color 0.5s;
  }
  
  .navBtn:hover {
    color: white;
    text-decoration: none;
  }
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../picture/unnamed.png);
    height: 75%;
    font-family: NSimSun;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .chinese-hero-text {
    font-size: 5rem;
  }
  
  .english-hero-text {
    font-family: HelveticaLight;
    letter-spacing: 3px;
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  /* 漢堡選單 */
  .navPanelToggle {
    text-decoration: none;
    height: 75%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    z-index: 1;
  }

  .panelTittle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-weight: bold;
  }
  
  .panelBtn {
    color: #adadad;
  }
  
  .panelBtn:hover {
    color: #bebebe;
  }
  
  .navPanelToggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  
  @media screen and (max-width: 980px) {
    .navPanelToggle {
      display: block;
    }
    #header {
      display: none;
    }
  }
  
  .navPanelToggle *:before {
    background: rgba(144, 144, 144, 0.65);
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 2.25em;
    left: 0.5em;
    line-height: 2.25em;
    position: absolute;
    text-align: center;
    top: 0.5em;
    width: 3.5em;
  }
  
  #navPanel {
    -moz-transform: translateX(-19.7em);
    -webkit-transform: translateX(-19.7em);
    -ms-transform: translateX(-19.7em);
    transform: translateX(-19.7em);
    -moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    background: #222;
    color: #fff;
    height: 100%;
    max-width: 80%;
    width: 15em;
    padding: 1em 1.25em;
    font-size: 1.8rem;
    text-transform: uppercase;
    z-index: 100;
  }
  
  #navPanel ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #navPanel ul li {
    padding: 0;
  }
  
  #navPanel ul li:first-child a:not(.button),
  #navPanel ul li:first-child span:not(.button) {
    border-top: 0;
  }
  
  .panelTittle:not(.button),
  #navPanel ul li span:not(.button) {
    border-top: solid 1px #555;
    color: #fff;
    display: block;
    padding: 2.5rem 1.5rem 0;
    text-decoration: none;
    font-family: NSimSun;
  }
  
  #navPanel ul li ul {
    color: #adadad;
    margin: 0 2rem 3rem;
    white-space: nowrap;
  }
  
  #navPanel li li {
    margin: 1rem 0;
  }
  
  #navPanel .button {
    width: 100%;
  }
  
  #navPanel .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    color: #484848;
    cursor: pointer;
    display: block;
    height: 4em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 5em;
  }
  
  #navPanel .close:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  
  #navPanel .close:before {
    content: "\f00d";
    width: 3em;
    height: 3em;
    line-height: 3em;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
  }
  
  #navPanel .close:hover {
    color: inherit;
  }
  
  @media screen and (max-width: 736px) {
    #navPanel .close {
      height: 4em;
      line-height: 4em;
    }
  }
  
  #navPanel.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    visibility: visible;
  }

  /* 載入字型 */
  @font-face {
    font-family: HelveticaLight;
    src: url(../font/HelveticaNeue-Thin.ttf);
  }
  /* RWD */
  @media (max-width: 902px) {
    .header {
      font-size: 2.6rem;
    }
  }
  
  @media (max-width: 797px) {
    .header {
      font-size: 2.2rem;
    }
  }
  
  @media (max-width: 699px) {
    .header {
      font-size: 1.8rem;
    }
  }
  
  @media (max-width: 594px) {
    .header {
      font-size: 1.6rem;
    }
  }
  
  @media (max-width: 541px) {
    .header {
      font-size: 1.4rem;
    }
  }
  
  @media (max-width: 470px) {
    .header {
      font-size: 1.3rem;
    }
  }
  
  @media (max-width: 945px) {
    .chinese-hero-text {
      font-size: 4.5rem;
    }
  }
  
  @media (max-width: 629px) {
    .chinese-hero-text {
      font-size: 3.8rem;
    }
  }
  
  @media (max-width: 474px) {
    .chinese-hero-text {
      font-size: 3.1rem;
    }
  }
  @media (max-width: 374px) {
    .chinese-hero-text {
      font-size: 3.0rem;
    }
  }
  
  @media (max-width: 1604px) {
    .english-hero-text {
      font-size: 3.1rem;
    }
  }
  
  @media (max-width: 1445px){
    .english-hero-text {
      font-size: 2.3rem;
    }
  }
  
  @media (max-width: 951px) and (min-width: 665px) {
    .english-hero-text {
      font-size: 2.6rem;
    }
  }
  

