section .inner {
    max-width: 215em;
    width: calc(100% - 6em);
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    text-align: left;
  }

  

  .sectionTypeOne{
      text-align: center;
      padding: 50px 0;
      background-color: white;
  }

  .sectionTypeTwo{
    text-align: center;
    padding: 50px 0;
    background-color: #636363;
}

.rwdTopImg{
  display: none;
}

  .sectionTitleTypeOne{
    font-size: 26px;
    font-family: Microsoft JhengHei;
    font-weight: 600;
  }

  .titleDateTypeOne{
    font-size: 20px;
    font-weight: 500;
  }

  .sectionContentTypeOne{
      font-size: 16px;
      margin-top: 15px;
  }

  .textTypeOne{
    margin-left: 20px;
  }

  .sectionTitleTypeTwo{
    color: #e6e6e6;
    font-size: 26px;
    font-family: Microsoft JhengHei;
    font-weight: 600;
  }

  .titleDateTypeTwo{
    color: #e6e6e6;
    font-size: 20px;
    font-weight: 500;
  }

  .sectionContentTypeTwo{
      font-size: 16px;
      margin-top: 15px;
      color: #e6e6e6;
  }

  .textTypeTwo{
    margin-right: 20px;
  }

  @media(max-width: 1117px){
    .sectionTitleTypeOne{
      font-size: 22px;
    }
    .titleDateTypeOne{
      font-size: 16px;
    }
    .sectionContentTypeOne{
      font-size: 13px;
    }
    .sectionTitleTypeTwo{
      font-size: 22px;
    }
    .titleDateTypeTwo{
      font-size: 16px;
    }
    .sectionContentTypeTwo{
      font-size: 13px;
    }
  }

  @media(max-width: 990px){
    section .inner{
      display: block;
      max-width: 600px;
    }
    .textTypeOne{
      margin: 30px 0 0;
    }
    .textTypeTwo{
      margin: 30px 0 0;
    }
    .rwdBottomImg{
      display: none;
    }
    .rwdTopImg{
      display: block;
    }
  }